html, body {
	margin: 0;
	padding: 0;
}

#info {
	border: 1px solid #000;
	width: 230px;
	height: 480px;
	float: left;
	padding: 10px;
}

#map {
	border: 1px solid #000;
	width: 500px;
	height: 500px;
	float: left;
	margin-left: 15px;
	background: url( 'map.png' ) no-repeat 0 0;
}

#contain {
	margin: 20px auto;
	width: 770px;
}