/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: sans-serif;
	color: #fff;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
	margin: 0;
	padding: 0;
	background: #404040;
}

#info {
	width: 270px;
	height: 480px;
	float: left;
	margin-left: 5px;
}

#map {
	border: 2px solid #000;
	width: 640px;
	height: 600px;
	float: left;
	background: url( 'map.gif' ) no-repeat 0 0;
}

#legend p {
	font-size: 12px;
}

#contain {
	margin: 20px auto;
	width: 960px;
}

h1#logo {
	background: url('logo.gif');
	width: 270px;
	height: 70px;
	text-indent: -9999px;
	}

div#userList {
	height: 450px;
	font-size: 10px;
	}

div#hud {

	}

div.gauge {
	width: 100%;
	height: 40px;
	position: relative;
	}

div.remaining {
	position: absolute;
	height: 100%;
	}

div#health {
	background-color: #924e38;
	}

div#health .remaining {
	background-color: #e45b30;
	width: 100%;
	}

div#ammo {
	background-color: #4a628f;
	}

div#ammo .remaining {
	background-color: #5484dd;
	width: 100%;
	}

#messages {
	width: 960px;
	padding-top: 10px;
	margin: 0 auto;
	height: 40px;
	font-size: 10px;
	overflow: hidden;
	clear: both;
}

#start-screen {
	background: url( "StartScreen.gif" ) no-repeat;
	width: 800px;
	height: 440px;
	margin: 0 auto;
	position: relative;
}

#start-select {
	position: absolute;
	top: 325px;
	left: 285px;
}

#character-screen {
	background: url( "ChooseCharacter.gif" ) no-repeat;
	width: 800px;
	height: 610px;
	margin: 0 auto;
	position: relative;
}

#character-select {
	position: absolute;
	top: 300px;
	left: 385px;
}